addict
diffusers~=0.16.0
gradio~=3.28.0
huggingface_hub
matplotlib~=3.7.1
numpy~=1.24.3
onnxruntime
opencv_python
Pillow~=9.5.0
pycocotools
PyYAML
requests~=2.29.0
setuptools~=66.0.0
supervision
termcolor
timm
torch~=1.10.2+cu113
torchvision~=0.11.3+cu113
transformers~=4.28.1
yapf
nltk
opencv-python~=4.5.5.64
tqdm~=4.65.0